<router-outlet></router-outlet>

<section>
  <bf-icon icon="ic_identity-2" [size]="120"></bf-icon>

  <h1>Work in progress</h1>

  <p>
    We are building the web version of the bluufeed right now.
    <br />
    Check out our social media to find out more. Thanks.
  </p>

  <ul>
    <li>
      <a href="https://play.google.com/store/apps/details?id=bluufeed">
        <bf-icon icon="ic_android" [size]="20"></bf-icon>
      </a>
    </li>
    <li>
      <a href="https://apps.apple.com/br/app/bluufeed/">
        <bf-icon icon="ic_apple" [size]="20"></bf-icon>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/bluufeed/">
        <bf-icon icon="ic_instagram" [size]="20"></bf-icon>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/bluufeed">
        <bf-icon icon="ic_twitter" [size]="20"></bf-icon>
      </a>
    </li>
  </ul>
</section>
